@import url(https://fonts.googleapis.com/css?family=Kaushan+Script:regular);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --grey:#eeeeee;

  --yellowTrans: rgba(249, 228, 148, 0.6);
  
}
body {
  
  font-family: 'Kaushan Script', cursive;
 


}

