.nav {
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 
  padding: 0 32px;
  background-color: white;
}
.link{
  text-decoration: none;
  font-size: 2rem;
  color: var(--mainPink);
  padding: 0 16px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.link-text:hover,.link-text:focus{
  background-color: var(--mainBlack);

}
.nav .link img{
  height:12vh;

}
.hamburger {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav .wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: -100vh;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    background: #34e7e4;
    height: 8rem;
    width: 100%;
  }

  .link {
    transition: all 0.3s ease-in-out;
  }

  .navbar-none {
    transform: translateY(100vh);
  }
  .nav .wrapper {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 485px) {
  .nav {
    padding: 0 1rem;
  }
  .nav .title {
    width: 80%;
  }
  .nav .title h1 {
    font-size: 1rem;
    text-align: center;
  }
}


